html {
    font-family: 'Rowdies'; background-color: #FFEEEC;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}

.homenav {
    color: #987963; /*color settings*/
    font-size: 20px; text-decoration: none; /*text settings*/
}
.productnav {
    color: #987963; /*color settings*/
    font-size: 20px; text-decoration: none; /*text settings*/
}
.aboutnav {
    color: #987963; /*color settings*/
    font-size: 20px; text-decoration: none; /*text settings*/
}
.cartnav {
    color: #EB7B6D; /*color settings*/
    font-size: 20px; text-decoration: none; /*text settings*/
}
#home {
    position: absolute;
    top: 35px; left: 60px;
}
.ulnav {
    position: absolute;
    top: 20px; right: 60px;
}
.linav {
    display: inline;
}
#spacing {
    margin-right: 25px;
}

.left {
    display: flex; margin-top: 120px;
    justify-content: center;
}
.lefttext {
    margin-left: 80px;
}
.imgbg {
    background-color: #EB7B6D; /*color settings*/
    width: 420px; height: 420px; /*text settings*/
    border-radius: 1000px;
    position: relative; margin-top: 80px; /*spacing settings*/
}
.indiimage {
    width: 400px; height: 400px; position: absolute;
    top: 10px; left: 10px;
}
.indititle {
    font-size: 30px;
    color: #987963;
}
.indides {
    width: 440px;
    color: #B9A394;
}
.indiprice {
    color: #EB7B6D;
}

.select {
    font-size: 20px;
    color: #B9A394;
    margin-top: 30px;
}

.button {
    display: block;
    margin-top: 10px;
}
.glazebutton {
    background-color: #B9A394; color: #FFFFFF; /*color settings*/
    font-size: 15px; text-align: center; border: none; border-radius: 35px; font-family: 'Rowdies'; /*text settings*/
    padding: 10px 70px 10px 70px; display: inline-block; /*layout settings*/
}
.glazebutton2 {
    background-color: #B9A394; color: #FFFFFF; /*color settings*/
    font-size: 15px; text-align: center; font-family: 'Rowdies'; /*text settings*/
    border: none; border-radius: 35px;
    padding: 10px 45px 10px 45px; display: inline-block; /*layout settings*/
}
.buttontext {
    margin: 0;
}
#space {
    margin-right: 12px;
}

.countbutton {
    background-color: #B9A394; color: #FFFFFF; /*color settings*/
    font-size: 15px; text-align: center; font-family: 'Rowdies'; /*text settings*/
    border: none; border-radius: 35px; 
    padding: 10px 20px 10px 20px; display: inline-block; /*layout settings*/
}
.buybutton {
    background-color: #EB7B6D; color: #FFFFFF; /*color settings*/
    font-size: 15px; text-align: center; border: none; border-radius: 35px; font-family: 'Rowdies'; /*text settings*/
    padding: 10px 40px 10px 40px; display: inline-block; /*layout settings*/
}
.cartbutton {
    background-color: #EB7B6D; color: #FFFFFF; /*color settings*/
    font-size: 15px; text-align: center; border: none; border-radius: 35px; font-family: 'Rowdies'; /*text settings*/
    padding: 10px 40px 10px 40px; display: inline-block;/*layout settings*/
}

.cartbutton:hover {
    background-color: #EB7B6D; opacity: 80%;
    cursor: pointer;
}

#favorite {
    color: #EB7B6D; /*color settings*/
    font-size: 30px; text-align: center; /*text settings*/
    margin-top: 45px; /*layout settings*/
}
.fav0 {
    display: flex; flex-direction: column;
    center; align-items: center;
}
.fav {
    display: flex; flex-direction: column;
    center; align-items: center; margin-left: 100px;
}
.favpreview {
    background-color: #987963; color: #FFFFFF; /*color settings*/
    font-size: 15px; text-align: center; font-family: 'Rowdies'; /*text settings*/
    border: none; border-radius: 35px;
    display: block; padding: 5px 15px 5px 15px; margin-bottom: 10px; /*layout settings*/
}
.favbuynow {
    background-color: #EB7B6D; color: #FFFFFF; /*color settings*/
    font-size: 15px; text-align: center; font-family: 'Rowdies'; /*text settings*/
    border: none; border-radius: 35px;
    display: block; padding: 5px 15px 5px 15px; /*layout settings*/
}
.lifav, .ulfav {
    display: inline-block; padding: 0;
}
#ourfav {
    display: flex; justify-content: center;
    background-color: #F0E4DC;
    margin-top: 85px;
}

.smallbg {
    background-color: #B9A394; border-radius: 1000px;
    width: 130px; height: 130px; position: relative /*layout settings*/
}
.favtitle {
    display: block; font-size: 20px; color: #987963; margin-bottom: 20px;
}
.favimage {
    width: 120px; height: 120px; position: absolute; top: 5px; left: 5px;
}

.errorprevent {
    color: #EB7B6D;
}

.back {
    color: #EB7B6D;
    text-decoration: none;
}

.container {
    cursor: pointer;
}

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }

  .checkmark {
    padding: 10px 70px 10px 70px;
    background-color: #B9A394;
    color: #FFFFFF;
    border-radius: 35px;
  }

  .container input:checked ~ .checkmark {
    background-color: #F0E4DC;
    color: #B9A394;
  }
  
  .checkmark2 {
      display: inline-block; margin-top: 12px;
    padding: 10px 45px 10px 45px;
    background-color: #B9A394;
    color: #FFFFFF;
    border-radius: 35px;
  }

  .container input:checked ~ .checkmark2 {
    background-color: #F0E4DC;
    color: #B9A394;
  }

  .checkmark3 {
    display: inline-block;
  padding: 10px 20px 10px 20px;
  background-color: #B9A394;
  color: #FFFFFF;
  border-radius: 35px;
}

.container input:checked ~ .checkmark3 {
  background-color: #F0E4DC;
  color: #B9A394;
}